.copy-flex{
  margin-top: 1em;
  margin-right:5%;
  margin-left:5%;
  align-content: center;
  justify-content: center;
  align-self:center;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width:630px){

  .card-row  {
    flex-direction: column;
    margin-bottom: 2%;
  }

}